
<div class= "jumbotron center">
  
<h1><strong></strong>This is the  tyme</strong></h1>

<p>This is <strong>OUR</strong> TYME...</p>

<%= link_to "Power UP", root_path, class: "btn btn-default" %>
<%= link_to "PARTICIPATE", root_path, class: "btn btn-primary" %>  

</div>